body {
    min-height: 100vh;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(13, 13, 102, 1) 50%, rgba(94, 77, 0, 1) 100%);
    background-size: 300% 300%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: left center;
    }

    50% {
        background-position: right center;
    }

    100% {
        background-position: left center;
    }
}


p, label {
    color: white;
    font-size: large;
}


h1 {
    text-align: center;
    color: white;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 2rem;
}


h3 {
    color: #39FF14;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
}

footer p {
    text-align: center;
    padding-top: 1rem;
    color: #D7D7D7;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.danger {
    background-color: #FF2226;
    height: 2em;
    width: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
}

.card {
    background-color: #1d1638;
    border: 2px solid #00FFD5;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(0, 255, 213, 0.15);  
}

.asteroid-card {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    width: 60%;
}

.statistic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15rem;
    min-height: 5rem;
    flex: 1;
}

.statistic p, .statistic h2 {
    margin: 0.3rem;
}

.statistic h2 {
    font-size: 1.5rem;
    color: #8DFFF0;
}

.statistics {
    display: flex;
    justify-content: space-around;
    width: 60%;
    gap: 2rem;
    flex-wrap: wrap;
}

.asteroid-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.filter {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: #00FFD5;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid #7B2CFF;
}

.filter p {
    color: black;
}

.order {
    background-color: #FFF200;
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.order option {
    background-color: #7B2CFF;
}

@media (max-width: 1024px) {
    .asteroid-card, .statistics, .filter {
        width: 70%;
    }

    .asteroid-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        }
}

@media (max-width: 767px) {
    .asteroid-card, .statistics, .filter {
        width: 80%;
    }
}